{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "env": {
    "es2020": true
  },
  "plugins": [
    "@typescript-eslint",
    "react",
    "prettier"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "newline-before-return": "error",
    "@typescript-eslint/ban-types": 2,
    "@typescript-eslint/interface-name-prefix": [
      "error",
      {
        "prefixWithI": "never"
      }
    ]
  }
}